<% layout('layout') -%>

<body id="secretbody">
    <div class="flex-back"><a href="https://reddit-nodejs-api-cbroomhead.c9users.io/"> Back to Hompage </a></div>

<script src="scripts/main.js"></script>    
</body>